<?php $customer = $_SESSION['customer'] ?>  
<?php if (isset($variables['error']) && $variables['error'] !== null) { ?>
  <div class="alert alert-danger"><strong>Something is wrong. </strong><?php print $variables['error'] ?></div>
<?php } ?>
<form action="<?php print $GLOBALS['baseUrl'] . 'my-account'?>" method="POST">
  <h2> My Account </h2>
  <h4> Contact Information </h4>
  <div class="reservation-passenger">
    <div class="row flight-reservation">
      <div class="col-md-6 form-group">
        <label for="first_name">First Name</label>
        <input class="form-control" id="first_name" name="customer[first_name]" type="text" value="<?php print $customer->first_name ?>"/>
      </div>
      <div class="col-md-6 form-group">
        <label for="last_name">Last Name</label>
        <input class="form-control" id="last_name" name="customer[last_name]" type="text" value="<?php print $customer->last_name ?>"/ />
      </div>
      <span class="clearfix"/>
      <div class="col-md-6 form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" name="customer[email]" type="email" value="<?php print $customer->email ?>"/>
      </div>
      <div class="col-md-6 form-group">
        <label for="password">Password</label>
        <input class="form-control" id="password" name="customer[password]" type="password"/>
      </div>
      <span class="clearfix"/>
      <div class="col-md-6 form-group">
        <label for="address">Address</label>
        <input class="form-control" id="address" name="customer[address]" type="text" value="<?php print $customer->address->address ?>"/>
      </div>
      <div class="col-md-6 form-group search-city">
        <label for="city-select">City (Province/State, Country)</label>
        <select id="city-select" class="chosen-select" name="customer[city_id]" class="form-control" placeholder="Search a city..." style="width: 100%;">
          <option value="<?php print $customer->address->city_id ?>" selected><?php print $customer->address->city->name?> (<?php print $customer->address->city->province_state->name?>, <?php print $customer->address->city->province_state->country->name?>)</option>
        </select>
      </div>
      <span class="clearfix"/>
      <div class="col-md-6 form-group">
        <label for="postal_code">Postal Code</label>
        <input class="form-control" id="postal_code" name="customer[postal_code]" type="text" value="<?php print $customer->address->postal_code ?>"/>
      </div>
      <div class="col-md-6 form-group">
        <label for="phone">Phone Number</label>
        <input class="form-control" id="phone" name="customer[phone]" type="text" value="<?php print $customer->phone ?>"/>
      </div>
      <span class="clearfix"/>         
    </div>
  </div>
  <br>
  <div class="row">
    <div class="form-group col-md-4">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
  <br>
  <hr>
  <br>

  <div class="row my-account-flights col-md-12">
    <h2> My Flights </h2>
    <hr> 
    <ul>
    <?php foreach ($variables['reservations'] as $key => $reservation) { ?>
      <?php 
        $flight = $reservation->flights[0];
        $flight_type = count($reservation->flights) == 1 ? 'one_way' : 'round_trip';
      ?>
          <li>
            <div class="row">
              <div class="col-md-6">
                <span class="flight-time"><?php print $flight->departure_airport->address->city->name . ' (' . $flight->departure_airport->id . ')' ?> - <?php print $flight->destination_airport->address->city->name . ' (' . $flight->destination_airport->id . ')' ?></span><br>
                <span class="flight-airline"><?php print date("h:i A", strtotime($flight->departure_time)) . ' - ' . date("h:i A", strtotime($flight->arrival_time)) ?></span><br>
                <span class="flight-airline"><?php print $flight->airline->name ?> - <?php print $flight->id ?></span>
              </div>
              <?php
                $durSecs = strtotime($flight->arrival_time) - strtotime($flight->departure_time);
                $durHours = floor($durSecs / 3600);
                $durHours = ($durHours > 0) ? $durHours : 24 + $durHours;
                $durMins = floor($durSecs / 60 % 60);
                $durMins = ($durMins > 0) ? $durMins : 60 + $durMins;
              ?>
              <span class="col-md-2 flight-duration"><?php print $durHours."h ".sprintf("%02d", $durMins)."m"; ?></span> 
              <span class="col-md-4 flight-duration"><?php print date("D, M jS Y", strtotime($flight->departure_date))?></span>
            </div>
            <hr> 
          </li>
    <?php } ?>
    </ul>
  </div>
</form>
